#textdomain wesnoth-rps-units

[textdomain]
    name="wesnoth-rps-units"
    path="data/add-ons/rps-units/translations"
[/textdomain]

[binary_path]
    path=data/add-ons/rps-units
[/binary_path]
[binary_path]
    path=data/add-ons/female-orcish-shamans
[/binary_path]

# Need to load utils before AddonsWML, to insert events (abilities + weapon specials)
{~add-ons/rps-units/utils/abilities}
{~add-ons/rps-units/utils/weapon_specials}
{~add-ons/rps-units/utils}

[modification]
    id=wesnoth-rps-units
    name= _ "RPS Units"
    description= _ "If this setting is on, additional level 4 units and alternative unit advancement lines will be
added."
    require_modification=yes
    addon_min_version=0.1.0
    [load_resource]
        id=wesnoth-rps-units-resource
    [/load_resource]
[/modification]

[resource]
    id=wesnoth-rps-units-resource
    addon_min_version=0.1.0
    define=RPS

    [load_resource]
        id=wesnoth-rps-units-resource-events
    [/load_resource]
    [load_resource]
        id=wesnoth-rps-units-resource-goblins
    [/load_resource]
    [load_resource]
        id=wesnoth-rps-units-resource-orcs
    [/load_resource]
    [load_resource]
        id=wesnoth-rps-units-resource-trolls
    [/load_resource]
    [load_resource]
        id=wesnoth-rps-units-resource-undead
    [/load_resource]
[/resource]

# Ability + weapon special events
[resource]
    id=wesnoth-rps-units-resource-events
    addon_min_version=0.1.0
    define=RPS

    {ABILITIES_EVENTS}
    {WEAPON_SPECIALS_EVENTS}
[/resource]

# Goblins
[resource]
    id=wesnoth-rps-units-resource-goblins
    addon_min_version=0.1.0
    define=RPS

    {ENABLE_WOLF_ADVANCEMENT}

    [modify_unit_type]
         type=Goblin Pillager
         set_experience=65
         add_advancement=RPS Goblin Raider
    [/modify_unit_type]
    [modify_unit_type]
         type=Direwolf Rider
         set_experience=96
         add_advancement=RPS Warg Rider
    [/modify_unit_type]
[/resource]

# Orcs
[resource]
    id=wesnoth-rps-units-resource-orcs
    addon_min_version=0.1.0
    define=RPS

    {ENABLE_NIGHTBLADE}

    [modify_unit_type]
         type=Orcish Archer
         add_advancement=RPS Orcish Hunter
    [/modify_unit_type]
    [modify_unit_type]
         type=Orcish Slurbow
         set_experience=74
         add_advancement=RPS Orcish Annihilator
    [/modify_unit_type]
    [modify_unit_type]
         type=Orcish Warlord
         set_experience=92
         add_advancement=RPS Orcish Overlord
    [/modify_unit_type]
    [modify_unit_type]
         type=Orcish Nightblade
         set_experience=90
         add_advancement=RPS Orcish Deathbringer
    [/modify_unit_type]
    [modify_unit_type]
         type=Orcish Sovereign
         set_experience=180 # level 4 leadership must be hard to get
         add_advancement=RPS Orcish Conqueror
    [/modify_unit_type]
[/resource]

# Trolls
[resource]
    id=wesnoth-rps-units-resource-trolls
    addon_min_version=0.1.0
    define=RPS

    {ENABLE_TROLL_SHAMAN}

    [modify_unit_type]
         type=Troll Rocklobber
         set_experience=53
         add_advancement=RPS Troll Boulderlobber
    [/modify_unit_type]
    [modify_unit_type]
         type=Troll Warrior
         set_experience=92
         add_advancement=RPS Troll Titan
    [/modify_unit_type]
    [modify_unit_type]
         type=Troll Shaman
         set_experience=74
         add_advancement=RPS Troll Sorcerer
    [/modify_unit_type]
[/resource]

# Undead
[resource]
    id=wesnoth-rps-units-resource-undead
    addon_min_version=0.1.0
    define=RPS

    [modify_unit_type]
         type=Ghoul
         set_experience=30 # 1.18
    [/modify_unit_type]
    [modify_unit_type]
         type=Necrophage
         set_experience=61 # 1.18
    [/modify_unit_type]
    [modify_unit_type]
         type=Ghast
         set_experience=92
         add_advancement=RPS Abomination
    [/modify_unit_type]
    [modify_unit_type]
         type=Skeleton Archer
         add_advancement=RPS Skullslinger
    [/modify_unit_type]
    [modify_unit_type]
         type=Bone Shooter
         set_experience=60 # 1.18
         add_advancement=RPS Bone Pirate
    [/modify_unit_type]
    [modify_unit_type]
         type=Banebow
         set_experience=97
         add_advancement=RPS Dreadsniper
    [/modify_unit_type]
    [modify_unit_type]
         type=Skeleton
         set_experience=39 # 1.18
         add_advancement=RPS Death Baron
    [/modify_unit_type]
    [modify_unit_type]
         type=Revenant
         set_experience=78 # 1.18
    [/modify_unit_type]
    [modify_unit_type]
         type=Death Knight
         set_experience=180 # level 4 leadership must be hard to get
         add_advancement=RPS Death Marshal,RPS Death Paladin
    [/modify_unit_type]
    [modify_unit_type]
         type=Deathblade
         set_experience=73
         add_advancement=RPS Banescourge,RPS Slitherblade
    [/modify_unit_type]
    [modify_unit_type]
         type=Draug
         set_experience=103
         add_advancement=RPS Grave Titan
    [/modify_unit_type]
    [modify_unit_type]
         type=Blood Bat
         set_experience=37 # 1.18
    [/modify_unit_type]
    [modify_unit_type]
         type=Dread Bat
         set_experience=63
         add_advancement=RPS Doom Bat
    [/modify_unit_type]
    [modify_unit_type]
         type=Dark Sorcerer
         set_experience=110 # 1.18
    [/modify_unit_type]
    [modify_unit_type]
         type=Necromancer
         set_experience=172
         add_advancement=RPS Necrophiliac
    [/modify_unit_type]
    [modify_unit_type]
         type=Shadow
         set_experience=77 # 1.18
    [/modify_unit_type]
    [modify_unit_type]
         type=Nightgaunt
         set_experience=124
         add_advancement=RPS Horror
    [/modify_unit_type]
    [modify_unit_type]
         type=Wraith
         set_experience=90 # 1.18
    [/modify_unit_type]
    [modify_unit_type]
         type=Spectre
         set_experience=150
         add_advancement=RPS Reaper
    [/modify_unit_type]
[/resource]

[lua]
    code = << wesnoth.dofile("~add-ons/rps-units/lua/_main.lua") >>
[/lua]

[+units]
    {~add-ons/rps-units/units/elves}
    {~add-ons/rps-units/units/goblins}
    {~add-ons/rps-units/units/orcs}
    {~add-ons/rps-units/units/trolls}
    {~add-ons/rps-units/units/undead}
    {~add-ons/rps-units/units/undead-lich}
[/units]
